# Data Preparation

## Sommaire
-------------------

### 1 - [Pandas DataFrame](## Pandas DataFrame)
* #### _[Exercice 1](## Exercice 1)_
* #### _[Exercice 2](## Exercice 2)_

### 2 - [Manipulation des DataFrames](## Manipulation des DataFrames)
* #### _[Sélection de colonnes](## Sélection de colonnes)_
* #### _[Sélection de lignes](## Dates)_

### 3 - [Mise en forme des données](## Mise en forme des données)
* #### _[Texte Unicode](## Texte Unicode)_
* #### _[Dates](## Dates)_
* #### _[Nettoyage de texte](## Nettoyage de texte)_
* #### _[Exercice 3](## Exercice 3)_
* #### _[Exercice 4](## Exercice 4)_
* #### _[One hot encoding](## One hot encoding)_
* #### _[Expressions Régulières](## Expressions Régulières)_
* #### _[Exercice 5](## Exercice 5)_

-------------------

## 1 - Pandas DataFrame <a class="anchor" id="Pandas DataFrame"></a>

La librairie ** Pandas ** permet de stocker des données structurées. De nombreuses fonctions utilitaires sont disponible pour la manipulation des tables.

In [1]:
import pandas as pd

Les données à parir d'une feuille Excel peuvent être importées grâce à la fonction `read_excel()`.

--------------------

### _ Exercice 1_ <a class="anchor" id="Exercice 1"></a>

Importer les données `best_selling_models.xlsx` de l'année 2010.

---------------------

La fonction `read_csv()` est la plus courramment utilisée pour importer des données.

In [2]:
carsdata = pd.read_csv("data/carsdata_features.csv", sep=",")

On peut visualiser le début et la fin d'une table grâce aux fonctions `.head()`et `.tail()` bien connue des utilisateurs Unix. Le nombre de lignes à affichier est paramétrable grâce à `n=`.


--------------------

### _ Exercice 2_ <a class="anchor" id="Exercice 2"></a>

Visualiser les 10 premières lignes de la table ** `carsdata` **.

---------------------

Un autre moyen d'analyser le contenu d'une table est de lire les statistiques descriptives de chaque colonne avec la fonction `describe()`.

In [3]:
carsdata.describe()

,NO_ABS,NO_accoudoir_central,NO_airbag_conducteur,NO_airbag_lateraux,NO_airbag_passager,NO_airbag_tete_rideau,alesage_mm,course_piston_mm,NO_allumage_auto_feux,NO_antipatinage,...,vitesse_max,NO_vitres_electriques,NO_vitres_teintees,voie_arriere,voie_avant,NO_volant_cuir,NO_volant_reglable,volume_coffre_min,volume_coffre_max,zero_100
count,64553.000000,64553.000000,64553.000000,64553.000000,64553.000000,64553.000000,63116.000000,63116.000000,64553.000000,64553.000000,...,63142.000000,64553.000000,64553.000000,63883.000000,63883.000000,64553.000000,64553.000000,63601.000000,50167.000000,62103.000000
mean,0.113023,0.356947,0.114789,0.209254,0.135749,0.338962,80.893947,85.447940,0.626555,0.374498,...,196.260381,0.120723,0.066736,1504.042500,1508.237058,0.373166,0.153316,458.788635,1335.996532,10.913672
std,0.316624,0.479103,0.318770,0.406780,0.342524,0.473361,5.256816,7.126757,0.483723,0.483997,...,26.773986,0.325807,0.249566,70.235166,67.984290,0.483649,0.360295,456.495450,489.411897,2.854191
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,58.000000,55.000000,0.000000,0.000000,...,80.000000,0.000000,0.000000,1080.000000,140.000000,0.000000,0.000000,31.000000,145.000000,2.700000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.000000,80.500000,0.000000,0.000000,...,177.000000,0.000000,0.000000,1461.000000,1465.000000,0.000000,0.000000,335.000000,1032.000000,9.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,81.000000,86.000000,1.000000,0.000000,...,194.000000,0.000000,0.000000,1513.000000,1518.000000,0.000000,0.000000,435.000000,1283.000000,10.800000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,84.000000,90.400000,1.000000,1.000000,...,213.000000,0.000000,0.000000,1551.000000,1549.000000,1.000000,0.000000,500.000000,1584.000000,12.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,104.800000,105.700000,1.000000,1.000000,...,330.000000,1.000000,1.000000,1790.000000,1810.000000,1.000000,1.000000,10800.000000,4650.000000,35.000000

## 2- Manipulation des DataFrames <a class="anchor" id="Manipulation des DataFrames"></a>

###  Sélection de colonnes

In [4]:
carsdata.NO_ABS.head()

0    0
1    0
2    0
3    0
4    0
Name: NO_ABS, dtype: int64

In [5]:
carsdata["NO_ABS"].head()

0    0
1    0
2    0
3    0
4    0
Name: NO_ABS, dtype: int64

In [6]:
# Sélection de position par un int
carsdata.iloc[:,0].head()

0    0
1    0
2    0
3    0
4    0
Name: NO_ABS, dtype: int64

In [7]:
# Sélection de position par label
carsdata.loc[:,"NO_ABS"].head()

0    0
1    0
2    0
3    0
4    0
Name: NO_ABS, dtype: int64

In [8]:
# Sélection de position par un int
carsdata.ix[:,0].head()

0    0
1    0
2    0
3    0
4    0
Name: NO_ABS, dtype: int64

In [9]:
# Sélection de position par un label
carsdata.ix[:,"NO_ABS"].head()

0    0
1    0
2    0
3    0
4    0
Name: NO_ABS, dtype: int64

### Sélection de lignes

In [10]:
carsdata[:1]

,NO_ABS,NO_accoudoir_central,NO_airbag_conducteur,NO_airbag_lateraux,NO_airbag_passager,NO_airbag_tete_rideau,alesage_mm,course_piston_mm,NO_allumage_auto_feux,NO_antipatinage,...,vitesse_max,NO_vitres_electriques,NO_vitres_teintees,voie_arriere,voie_avant,NO_volant_cuir,NO_volant_reglable,volume_coffre_min,volume_coffre_max,zero_100
0,0,1,0,0,0,0,86.0,86.0,1,0,...,220.0,0,0,1479.0,1462.0,0,0,150.0,1700.0,8.2

In [11]:
carsdata.iloc[0,:]

NO_ABS                                        0
NO_accoudoir_central                          1
NO_airbag_conducteur                          0
NO_airbag_lateraux                            0
NO_airbag_passager                            0
NO_airbag_tete_rideau                         0
alesage_mm                                   86
course_piston_mm                             86
NO_allumage_auto_feux                         1
NO_antipatinage                               0
NO_appuis_tete_arriere                        0
NO_assistant_freinage                         1
NO_banquette_arriere_rabattable               0
NO_blocage_differentiel                       1
NO_bluetooth                                  1
capacite_charge_max_kg                      625
capacite_moteur_cc                         1998
NO_capteur_stationnement                      0
NO_capteur_temp_liquide_refroidissement       0
LPG_carburant                                 0
bio_ethanol_carburant                         0
diesel_carburant                              0
natural_gas_carburant                         0
catalyseur_onregular                          0
catalyseur_part_filter                        0
catalyseur_egular                             1
No_clim_bizone                                1
NO_climatisation                              0
NO_commande_audio_volant                      0
compteur_jours                                1
                                           ...
twincharger                                   0
turbocharger_w_intercooler                    1
bus                                           0
cabriolet                                     0
coupe                                         0
hatchback                                     0
mpv                                           1
pickup                                        0
sedan                                         0
stationwagon                                  0
suv_crossover                                 0
electromagnetic_synchronous_motor             0
valvetrain_ohc                                0
valvetrain_ohv                                0
permanent_magnet_synchronous_motor            0
NO_verre_intim_arriere                        1
vitesse_1ere                               3.58
vitesse_2eme                               2.02
vitesse_3eme                               1.35
vitesse_4eme                               0.98
vitesse_max                                 220
NO_vitres_electriques                         0
NO_vitres_teintees                            0
voie_arriere                               1479
voie_avant                                 1462
NO_volant_cuir                                0
NO_volant_reglable                            0
volume_coffre_min                           150
volume_coffre_max                          1700
zero_100                                    8.2
Name: 0, dtype: object

In [12]:
carsdata.loc[0,:]

NO_ABS                                        0
NO_accoudoir_central                          1
NO_airbag_conducteur                          0
NO_airbag_lateraux                            0
NO_airbag_passager                            0
NO_airbag_tete_rideau                         0
alesage_mm                                   86
course_piston_mm                             86
NO_allumage_auto_feux                         1
NO_antipatinage                               0
NO_appuis_tete_arriere                        0
NO_assistant_freinage                         1
NO_banquette_arriere_rabattable               0
NO_blocage_differentiel                       1
NO_bluetooth                                  1
capacite_charge_max_kg                      625
capacite_moteur_cc                         1998
NO_capteur_stationnement                      0
NO_capteur_temp_liquide_refroidissement       0
LPG_carburant                                 0
bio_ethanol_carburant                         0
diesel_carburant                              0
natural_gas_carburant                         0
catalyseur_onregular                          0
catalyseur_part_filter                        0
catalyseur_egular                             1
No_clim_bizone                                1
NO_climatisation                              0
NO_commande_audio_volant                      0
compteur_jours                                1
                                           ...
twincharger                                   0
turbocharger_w_intercooler                    1
bus                                           0
cabriolet                                     0
coupe                                         0
hatchback                                     0
mpv                                           1
pickup                                        0
sedan                                         0
stationwagon                                  0
suv_crossover                                 0
electromagnetic_synchronous_motor             0
valvetrain_ohc                                0
valvetrain_ohv                                0
permanent_magnet_synchronous_motor            0
NO_verre_intim_arriere                        1
vitesse_1ere                               3.58
vitesse_2eme                               2.02
vitesse_3eme                               1.35
vitesse_4eme                               0.98
vitesse_max                                 220
NO_vitres_electriques                         0
NO_vitres_teintees                            0
voie_arriere                               1479
voie_avant                                 1462
NO_volant_cuir                                0
NO_volant_reglable                            0
volume_coffre_min                           150
volume_coffre_max                          1700
zero_100                                    8.2
Name: 0, dtype: object

In [13]:
carsdata.ix[0,:]

NO_ABS                                        0
NO_accoudoir_central                          1
NO_airbag_conducteur                          0
NO_airbag_lateraux                            0
NO_airbag_passager                            0
NO_airbag_tete_rideau                         0
alesage_mm                                   86
course_piston_mm                             86
NO_allumage_auto_feux                         1
NO_antipatinage                               0
NO_appuis_tete_arriere                        0
NO_assistant_freinage                         1
NO_banquette_arriere_rabattable               0
NO_blocage_differentiel                       1
NO_bluetooth                                  1
capacite_charge_max_kg                      625
capacite_moteur_cc                         1998
NO_capteur_stationnement                      0
NO_capteur_temp_liquide_refroidissement       0
LPG_carburant                                 0
bio_ethanol_carburant                         0
diesel_carburant                              0
natural_gas_carburant                         0
catalyseur_onregular                          0
catalyseur_part_filter                        0
catalyseur_egular                             1
No_clim_bizone                                1
NO_climatisation                              0
NO_commande_audio_volant                      0
compteur_jours                                1
                                           ...
twincharger                                   0
turbocharger_w_intercooler                    1
bus                                           0
cabriolet                                     0
coupe                                         0
hatchback                                     0
mpv                                           1
pickup                                        0
sedan                                         0
stationwagon                                  0
suv_crossover                                 0
electromagnetic_synchronous_motor             0
valvetrain_ohc                                0
valvetrain_ohv                                0
permanent_magnet_synchronous_motor            0
NO_verre_intim_arriere                        1
vitesse_1ere                               3.58
vitesse_2eme                               2.02
vitesse_3eme                               1.35
vitesse_4eme                               0.98
vitesse_max                                 220
NO_vitres_electriques                         0
NO_vitres_teintees                            0
voie_arriere                               1479
voie_avant                                 1462
NO_volant_cuir                                0
NO_volant_reglable                            0
volume_coffre_min                           150
volume_coffre_max                          1700
zero_100                                    8.2
Name: 0, dtype: object

### Création de colonne

In [14]:
carsdata["NEW_COLUMN"] = 9999

In [15]:
carsdata[:1]

,NO_ABS,NO_accoudoir_central,NO_airbag_conducteur,NO_airbag_lateraux,NO_airbag_passager,NO_airbag_tete_rideau,alesage_mm,course_piston_mm,NO_allumage_auto_feux,NO_antipatinage,...,NO_vitres_electriques,NO_vitres_teintees,voie_arriere,voie_avant,NO_volant_cuir,NO_volant_reglable,volume_coffre_min,volume_coffre_max,zero_100,NEW_COLUMN
0,0,1,0,0,0,0,86.0,86.0,1,0,...,0,0,1479.0,1462.0,0,0,150.0,1700.0,8.2,9999

## 3- Mise en forme des données <a class="anchor" id="Mise en forme des données"></a>

### Texte Unicode

In [16]:
import unicodedata
# Exemple de donnée 
marque = u"Citroën"

In [17]:
marque

u'Citro\xebn'

In [18]:
#Exemple de problème
marque == "Citroen"

False

Un caractère unicode peut avoir un code unique ou bien composé de deux codes

In [19]:
print(u'\u00EB')

ë

In [20]:
print(u'\u0065')

e

In [21]:
print(u'\u0308')

̈

In [22]:
print(u'\u0065\u0308')

ë

In [23]:
# Normal Form Decomposition : 
# séparation du caractère accentué en forme de base plus le code accentué
unicodedata.normalize('NFD', marque)

u'Citroe\u0308n'

In [24]:
marque_NFD = unicodedata.normalize('NFD', marque)

# On peux ignorer les caractères non ASCII
marque_ASCII = marque_NFD.encode('ASCII', 'ignore')
marque_ASCII

'Citroen'

In [25]:
marque_ASCII == "Citroen"

True

### Dates

Les dates peuvent avoir plusieur formes. L'afficage le plus simple d'une date est sous forme de `String`.

In [26]:
# Probleme : pas d'opération sur les dates
premier_mars = '01/03/2017'
un_mois = '00/01/0000'
premier_mars + un_mois

'01/03/201700/01/0000'

In [27]:
import datetime as dt

In [28]:
# la fonction strptime() reconnait une date a l'aide d'un format
premier_mars_dt = dt.datetime.strptime(premier_mars, '%d/%M/%Y')
premier_mars_dt

datetime.datetime(2017, 1, 1, 0, 3)

In [29]:
# formatage pour l'affichage
premier_mars_dt.strftime('%d-%M')

'01-03'

In [30]:
premier_mars_dt.strftime('%M-%Y')

'03-2017'

In [31]:
delta = dt.datetime.today() - premier_mars_dt
delta

datetime.timedelta(80, 19634, 908000)

In [32]:
delta.total_seconds()

6931634.908

### Nettoyage de texte

In [33]:
raw_carsdata = pd.read_json('data/carsdata4.json')

In [34]:
raw_carsdata.head()

,ABS,accoudoir_central,airbag_conducteur,airbag_lateraux,airbag_passager,airbag_tete_rideau,alesage_course_piston,allumage_auto_feux,antipatinage,appuis_tete_arriere,...,vitesse_4eme,vitesse_max,vitres_electriques,vitres_teintees,voie_arriere,voie_avant,volant_cuir,volant_reglable,volume_coffre,zero_100
0,YES,NO,YES,YES(front),YES,YES(front),"86,0 x 86,0 mm",NO,YES,YES,...,"0,98:1",220 km/h,YES(front & rear),YES,1479 mm,1462 mm,YES,YES(height & depth),150-1700 l,"8,2 s"
1,YES,YES(front),YES,NO,YES,NO,"80,0 x 79,5 mm",NO,YES,NO,...,NaN,180 km/h,YES(front),YES,1628 mm,1615 mm,NO,YES,3500 l,"10,8 s"
2,YES,YES(front & rear),YES,YES(front),YES,NO,"89,9 x 100,0 mm",NO,YES (since 4/2005),YES,...,"0,69:1",176 km/h,YES(front & rear),YES,1530 mm,1530 mm,YES,YES,410-1841 l,"11,1 s"
3,YES,NO,YES,YES(front),YES,NO,NaN,YES,YES,YES,...,NaN,135 km/h,YES(front & rear),YES,1510 mm,1511 mm,YES,YES(height & depth),338-1225 l,"13,5 s"
4,YES,YES(front),YES,YES(front),YES,YES(front & rear),"77,0 x 85,44 mm",YES,YES,YES,...,"1,39:1",180 km/h,YES(front & rear),YES,1551 mm,1547 mm,YES,YES(height & depth),440-1486 l,"11,5 s"

Les fonctions de manipulation de `String` usuelles peuvent être utilisées dans une DataFrame.

In [48]:
# Split de texte
vitesse = raw_carsdata.vitesse_max.head()
vitesse

0    220 km/h
1    180 km/h
2    176 km/h
3    135 km/h
4    180 km/h
Name: vitesse_max, dtype: object

Pour pouvoir utiliser le champ `vitesse_max` on a besoin d'extraire la valeur numérique.

In [44]:
vitesse.str.split(' ')

0    [220, km/h]
1    [180, km/h]
2    [176, km/h]
3    [135, km/h]
4    [180, km/h]
Name: vitesse_max, dtype: object

In [46]:
valeur_vitesse = vitesse.str.split(' ').str[0]
valeur_vitesse

0    220
1    180
2    176
3    135
4    180
Name: vitesse_max, dtype: object

La chaine de caractères est alors convertie au format numérique.

In [47]:
pd.to_numeric(valeur_vitesse)

0    220
1    180
2    176
3    135
4    180
Name: vitesse_max, dtype: int64

In [50]:
# Remplacement de texte avec la fonction replace()
acceleration = raw_carsdata.zero_100.head()
acceleration

0     8,2 s
1    10,8 s
2    11,1 s
3    13,5 s
4    11,5 s
Name: zero_100, dtype: object


--------------------

### _ Exercice 3_ <a class="anchor" id="Exercice 3"></a>

Extraire le temps d'accélération de zéro à 100 km/h.

---------------------


--------------------

### _ Exercice 4_ <a class="anchor" id="Exercice 4"></a>

Extraire l'alésage et la course du piston dans deux nouvelles colonnes à partir du champ `alesage_course_piston`.

---------------------

### One hot encoding 
Ou dummification est la transformation d'une variable catégorielle en autant de variables binaires que de valeurs catégorielles moins une.

|   Levels  |  
|----------:|
|      LOW  |
|      LOW  |
|     HIGH  |
|   MEDIUM  |
|     HIGH  |

Est transformée en:

|  MEDIUM |   HIGH  |
|--------:|--------:|
|       0 |       0 |
|       0 |       0 |
|       0 |       1 |
|       1 |       0 |
|       0 |       1 |

In [57]:
ex_df = pd.DataFrame({"Levels":["LOW","LOW","HIGH","MEDIUM","HIGH"]})
ex_df

   Levels
0     LOW
1     LOW
2    HIGH
3  MEDIUM
4    HIGH

In [58]:
pd.get_dummies(ex_df)

   Levels_HIGH  Levels_LOW  Levels_MEDIUM
0            0           1              0
1            0           1              0
2            1           0              0
3            0           0              1
4            1           0              0

In [59]:
pd.get_dummies(ex_df).loc[:,('Levels_MEDIUM','Levels_HIGH')]

   Levels_MEDIUM  Levels_HIGH
0              0            0
1              0            0
2              0            1
3              1            0
4              0            1

In [68]:
# Alternative
pd.get_dummies(ex_df).drop(['Levels_LOW'], axis=1)

   Levels_HIGH  Levels_MEDIUM
0            0              0
1            0              0
2            1              0
3            0              1
4            1              0

### Expressions Régulières
Ce sont des chaines de caractères spéciaux qui permettent de reconnaître des groupes de caractères ou des patterns de manière générique.

|  |  fonction  |
|-------------------:|:-----------|
| '^'  | Début d'un ligne  |
| '$' | Fin d'une ligne  |
| '.'  | N'impmorte quel caractère |
| '\d'  | Caractère numérique |
| '\w'  | Caractère alphanumérique |
| '?' | Zéro ou une fois |
| '+' | Une ou plusieurs répétitions |
| '*' | N'importe quel nombre de répétitions |

In [69]:
ex_string = 'Je veux extraire la valeur 10 de cette chaine de caractères'

In [75]:
import re
re.search(r'\d+', ex_string).group()

'10'

In [88]:
# On peut récupérer plusieurs éléments en même temps
re.search(r'(\w+) (\d+)', ex_string).groups()

('valeur', '10')


--------------------

### _ Exercice 5_ <a class="anchor" id="Exercice 5"></a>

Créer une variable binaire à partir de la variable catégorielle `ABS`. Les valeurs en euros sont assimilées à un Non. Vous avez besoin de la fonction **`str.replace(--Expression régulière--)`** et de la fonction **`pd.get_dummies()`**.

---------------------